/* body{
    margin: 0% 0% 0% 0%;
    border: 0% 0% 0% 0%;
} */
.box{
    height:800px;
    width: 200px;
    border: 2px dotted red;
    
}
.container{
    border: 2px solid rebeccapurple;
    display: flex;
    justify-content: stretch;
    height: 800px;
    align-items: center;
}
.box-1, .box-2{
    flex: 1;
}